@use './vars';

/* -------------about styles----------- */
.about-hero {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @media #{vars.$media-600-down}{
        flex-direction: column;
    }
}


.about-hero article {
    position: relative;
    top: 100px;
    left: 200px;
}

.about-hero > article h1 {
    inline-size: 350px;
    word-wrap: break-word;
    font-size: 2.8rem;
    line-height: 3.4rem;
    text-transform: capitalize;
    @media #{vars.$media-600-down}{
        // inline-size:
    }
}

.about-hero article h1 {
    margin-top: 30px;
}

#hero-grid{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    .grid-figure_one{
        grid-area: 1 / 1 / 4 / 2;
    }
    .grid-figure_two{
        grid-area: 1 / 2 / 2 / 3;
        justify-content: space-between;
        align-items: center;
        img{
            width: 220px;
        }
    }
    .grid-figure_three{
        grid-area: 2 / 2 / 3 / 3;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        img{
            width: 150px;
        }
    }
    .grid-figure_four{
        grid-area: 3 / 2 / 4 / 3;
        justify-content: space-between;
        align-items: center;
        flex-direction: row-reverse;
        img{
            width: 150px;
        }
    }
}



#hero-grid .grid-figure_two,
#hero-grid .grid-figure_three,
#hero-grid .grid-figure_four{
    width: 350px;
    display: flex;
}


#hero-grid .grid-figure_four{

}



.about-content {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    @media #{vars.$media-600-down}{
        flex-direction: column;
    }
}

.about-content .about-content-img {
    width: 500px;
    height: 250px;
    border-radius: 15px;
    background-color: vars.$azul-section-surface;
    position: relative;
    top: -80px;
    @media #{vars.$media-600-down} {
        width: 300px;
    }
}

.about-content article {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    @media #{vars.$media-600-down} {
        // justify-content: center;
        align-items: center;
        height: 500px;
    }
}

.about-content article p {
    font-size: 13px;
    inline-size: 500px;
    word-wrap: break-word;
    text-align: left;
    @media #{vars.$media-600-down} {
        font-size: 12px;
        line-height: vars.$line-sm;
        inline-size: 300px;
        text-align: center;
    }
}

.about-content article .pill {
    color: vars.$rouge-full;
}