@use './vars';

/* -------------------contact page------------------------ */
.contact-header {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    position: relative;
    @media #{vars.$media-mobile-l}{
        display: flex;
        flex-direction: column;
    }
}

.contact-header article {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: start;
    height: 50%;
    @media #{vars.$media-mobile-l} {
        height: 500px;
    }
}

.contact-header article .pill {
    background-color: vars.$rouge-surface;
    color: vars.$rouge-full;
}

.contact-header article h1 {
    font-size: 3rem;
}

.contact-header article p {
    font-size: 1.2rem;
    inline-size: 250px;
    word-wrap: break-word;
    line-height: vars.$line-sm;
}

.contact-header article #contact-details {
    width: 150px;
    height: 30px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 5px;
    display: flex;
    place-items: center;
    a{
        color: #000;
        margin-left: 10px;
        font-size: 1.5px;
    }
    p{
        margin-left: 10px;
    }
}

.contact-header img {
    width: 500px;
    position: relative;
    z-index: 2;
}

#contactHeroMask{
    width: 200px;
    height: 300px;
}

.contact-header .contacts-hero {
    clip-path: url(#contactHeroClip);
}

.contact-header .contact-image-accent {
    width: 230px;
    height: 350px;
    border: 1.5px solid black;
    position: absolute;
    right: 250px;
    top: 65px;
    border-radius: 10px;
    z-index: 1;
    @media #{vars.$media-mobile-l} {
        display: none;
    }
}

#or {
    font-size: 7rem;
    font-weight: 600;
    position: relative;
    left: 150px;
}

#contact-main-content {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    @media #{vars.$media-mobile-l} {
        flex-direction: column;
    }
}

#contact-main-content img:first-child {
    width: 450px;
    position: relative;
    z-index: 2;
    @media #{vars.$media-mobile-l} {
        width: 300px;
        height: 300px;
        left: -20%;
        top: 30px;
    }
}


#contact-main-content .contact-content-image {
    clip-path: url(#contactContentClip);
}

#contactContentMask{
    width: 250px;
    height: 350px;
    @media #{vars.$media-mobile-l}{
        width: 200px;
        height: 280px;
    }
}


#contact-main-content #contact-content-image-accent {
    width: 280px;
    height: 400px;
    border: 1.5px solid black;
    border-radius: 10px;
    position: absolute;
    left: 100px;
    top: 130px;
    z-index: 1;
    @media #{vars.$media-mobile-l} {
        display: none;
    }
}

#contact-main-content article {
    width: 50%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center baseline;
    position: relative;
    left: 100px;
    @media #{vars.$media-mobile-l} {
        width: 100%;
        left: 0px;
        align-items: center;
    }
}

#contact-main-content article > p {
    font-size: 1.5rem;
    inline-size: 400px;
    margin-bottom: 20px;
    font-weight: 600;
    @media #{vars.$media-mobile-l}{
        // font-size: 12px;
        inline-size: 300px;
        word-wrap: break-word;
    }
}

#contact-main-content article a {
    width: 200px;
    height: 50px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 1.3rem;
    margin-top: 20px;
    text-decoration: none;
    color: black;
}

#contact-main-content article a:nth-child(2) {
    background-color: vars.$azul-section-surface;
}

#contact-main-content article a:nth-child(3) {
    background-color: vars.$rouge-surface;
}

#contact-main-content article a:nth-child(4) {
    background-color: vars.$azul-section-surface;
}

#contact-main-content article a:last-child {
    background-color: vars.$rouge-surface;
}